<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>LB_Calc_WEB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container-fluid">
    <h1>Модули управления</h1>
    <a href="/lcs/create" class="btn btn-primary btn-sm mb-3">Создать Модуль Управления </a>
    <a th:href="@{'/'}" class="btn btn-primary btn-sm mb-3">Back </a>
    <br/><br/>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Height</th>
            <th>Width</th>
            <th>Depth</th>
            <th>ColorBody</th>
            <th>Display</th>
            <th>Payment</th>
            <th>Printer</th>
            <th>BarReader</th>
            <th>RfidReader</th>

            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lc: ${lcs}">
            <td th:text="${lc.getId()}">ID</td>
            <td th:text="${lc.getName()}">Name</td>
            <td th:text="${lc.getDescription()}">Description</td>
            <td th:text="${lc.getHeight()}">Height</td>
            <td th:text="${lc.getWidth()}">Width</td>
            <td th:text="${lc.getDepth()}">Depth</td>
            <td th:text="${lc.getColorBody()}">ColorBody</td>
            <td th:text="${lc.getDisplay()}">Display</td>
            <td th:text="${lc.getPayment()}">Payment</td>
            <td th:text="${lc.isPrinter()}">Printer</td>
            <td th:text="${lc.getBarReader()}">BarReader</td>
            <td th:text="${lc.isRfidReader()}">RfidReader</td>

            <td>
                <a th:href="@{/lcs/{id}(id=${lc.getId()})}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>