
DB_URL=jdbc:mysql://localhost:3307/lb_web_mysql_db?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=change_me

JWT_SECRET_ACCESS=replace_with_base64url_secret
JWT_SECRET_REFRESH=replace_with_base64url_secret

JWT_EXPIRATION_ACCESS=36000000
JWT_EXPIRATION_REFRESH=252000000

MYSQL_ROOT_PASSWORD=root