<header th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" th:href="@{/profile}">
          Профиль
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/projects}">Проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/alss}">АКХ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lbs}">Модули Хранения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lcs}">Модули Управления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employees}">Сотрудники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Выйти</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <p class="nav-link">Сотрудник: <span sec:authentication="name"></span></p>
                </li>
            </ul>
        </div>
    </nav>
</header>
