<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>LB_Calc_WEB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<form>
    <fieldset>
        <legend>LogIn</legend>
        <div class="form-group">
            <label for="inputLogin">Логин</label>
            <input id="inputLogin" placeholder="Введите логин" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputPassword">Пароль</label>
            <input type="password" id="inputPassword" placeholder="Введите пароль" class="form-control">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Запомнить меня</label>
        </div>
        <button type="submit" class="btn btn-default">Войти</button>
    </fieldset>
</form>
</body>
</html>