<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>LB_Calc_WEB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>


    </style>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container-fluid">
    <br/>
    <form action="#" th:action="@{/projects/{projectId}/alss/{alsId}/save
    (projectId=${project.getId()}, alsId=${alsId})}"
                     th:object="${als}" method="POST">
        <button type="submit" class="btn btn-primary btn-sm mb-3">Сохранить АКХ</button>
        <a th:href="@{/projects/{projectId}
        (projectId=${project.getId()})}" class="btn btn-primary btn-sm mb-3"
        th:text="'Back to #'+${project.id}+'-'+${project.name}">Back to Project </a>
        <br/>
        <h4 th:text="${als.description}">Автоматическая камера хранения</h4>
        <p  th:if="${ALSErrors}!=null and !${ALSErrors.isEmpty()} " class="alert alert-danger"
            th:text="${ALSErrors}"></p>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th hidden="hidden">Description</th>
                <th>PositionLC</th>
                <th>CountCells</th>
                <th>Height</th>
                <th>Width</th>
                <th>Depth</th>
                <th>UpperFrame</th>
                <th>BottomFrame</th>
                <th>DepthCell</th>
                <th>ColorBody</th>
                <th>ColorDoor</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>
                    <label>
                        <input type="text" size="3" th:field="*{id}" readonly="readonly">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{name}" readonly="readonly">
                    </label>
                </td>
                <td hidden="hidden">
                    <label>
                        <input type="text" th:field="*{description}" readonly="readonly">
                    </label>
                </td>
                <td>
                    <label>
                        <select th:field="*{positionLC}">
                            <option th:each="positionLC:${positionLCList}" th:value="${positionLC}" th:text="${positionLC}">
                            </option>
                        </select>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" size="3" th:field="*{countCells}" readonly="readonly">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" size="4" th:field="*{height}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" size="4" th:field="*{width}" readonly="readonly">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" size="4" th:field="*{depth}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" size="4" th:field="*{upperFrame}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" size="4" th:field="*{bottomFrame}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" size="4" th:field="*{depthCell}" readonly="readonly">
                    </label>
                </td>
                <td>
                    <label>
                        <select th:field="*{colorBody}">
                            <option th:each="color:${colorsList}" th:value="${color}" th:text="${color}">
                            </option>
                        </select>
                    </label>
                </td>
                <td>
                    <label>
                        <select th:field="*{colorDoor}">
                            <option th:each="color:${colorsList}" th:value="${color}" th:text="${color}">
                            </option>
                        </select>
                    </label>
                </td>

                <td>
                    <<form th:action="@{/projects/{projectId}/alss/{alsId}/addLB(projectId=${project.id}, alsId=${als.id})}"
                           method="post"
                           style="display:inline;">
                    <button type="submit" class="btn btn-primary">Add LB</button>
                </form>
                </td>

            </tr>
            </tbody>
        </table>
        <br/>
        <h4 th:text="*{LC.description}">Модуль управления</h4>
        <p  th:if="${LCErrors}!=null and !${LCErrors.isEmpty()} " class="alert alert-danger"
            th:text="${LCErrors}"></p>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th hidden="hidden">Description</th>
                <th hidden="hidden">Height</th>
                <th>Width</th>
                <th hidden="hidden">Depth</th>
                <th hidden="hidden">ColorBody</th>
                <th>Display</th>
                <th>Payment</th>
                <th>Printer</th>
                <th>BarReader</th>
                <th>RfidReader</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label>
                        <input type="number" size="3" th:field="*{LC.id}" readonly="readonly">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" size="30"
                               th:field="*{LC.name}"
                               readonly="readonly"/>
                    </label>
                </td>
                <td hidden="hidden" >
                    <label>
                        <input type="text" size="180"
                               th:field="*{LC.description}" readonly="readonly">
                    </label>
                    </td>
                <td hidden="hidden">
                    <label>
                        <input type="number" size="4"
                               th:field="*{LC.height}"
                               readonly="readonly"/>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" size="4"
                               th:field="*{LC.width}"
                               readonly="readonly"/>
                    </label>
                </td>
                <td hidden="hidden">
                    <label>
                        <input type="number" size="4"
                               th:field="*{LC.depth}"
                               readonly="readonly"/>
                    </label>
                </td>
                <td hidden="hidden">
                    <label>
                        <input type="text" th:field="*{LC.colorBody}"
                               readonly="readonly">
                    </label>
                </td>
                <td>
                    <label>
                        <select th:field="*{LC.display}">
                            <option th:each="disp:${displayList}"
                                    th:value="${disp}"
                                    th:text="${disp}">
                            </option>
                        </select>
                    </label>
                </td>
                <td>
                    <label>
                        <select th:field="*{LC.payment}">
                            <option th:each="payment:${paymentList}"
                                    th:value="${payment}"
                                    th:text="${payment}">
                            </option>
                        </select>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="checkbox" size="4" th:field="*{LC.printer}">
                    </label>
                </td>
                <td>
                    <label>
                        <select th:field="*{LC.barReader}">
                            <option th:each="barReader:${barReaderList}"
                                    th:value="${barReader}" th:text="${barReader}">
                            </option>
                        </select>
                    </label>
                </td>
                <td>
                    <label>
                        <input type="checkbox" th:field="*{LC.rfidReader}" readonly="readonly">
                    </label>
                </td>
                <td hidden="hidden">
                    <label>
                        <input type="number" size="3"
                               th:field="*{LC.upperFrame}"
                               readonly="readonly"/>
                    </label>
                </td>
                <td hidden="hidden">
                    <label>
                        <input type="number" size="3"
                               th:field="*{LC.bottomFrame}"
                               readonly="readonly"/>
                    </label>
                </td>
                <td>
                    <a th:href="@{/projects/{projectId}/alss/{alsId}/lcs/{lcId}
                    (projectId=${project.getId()},alsId=${als.getId()},lcId=${als.getLC().getId()})}"
                       class="btn btn-primary">Edit LC</a>

                </td>

            </tr>
            </tbody>
        </table>
        <br/>
        <h5>Модули хранения:</h5>
        <div th:each="lb, item: ${als.lbList}">
            <p th:if="${LBErrors}!=null and !${LBErrors[__${item.index}__].isEmpty()} " class="alert alert-danger"
               th:text="${LBErrors[__${item.index}__]}"></p>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th hidden="hidden">Description</th>
                    <th>Type</th>
                    <th>ShelfThick</th>
                    <th>CountCells</th>

                    <th>Height</th>
                    <th>Width</th>
                    <th>Depth</th>
                    <th hidden="hidden">UpperFrame</th>
                    <th hidden="hidden">BottomFrame</th>
                    <th>HeightCell</th>
                    <th hidden="hidden">WidthCell</th>
                    <th hidden="hidden">DepthCell</th>
                    <th>DirectionDoorOpening</th>
                    <th>ColorBody</th>
                    <th>ColorDoor</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label>
                            <input type="number" size="3" th:name="|lbList[${item.index}].id|" th:value="${lb.getId()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input th:name="|lbList[${item.index}].name|" th:value="${lb.getName()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td hidden="hidden">
                        <label>
                            <input th:name="|lbList[${item.index}].description|" th:value="${lb.getDescription()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <select th:field="*{lbList[__${item.index}__].type}">
                                <option th:each="type:${typeList}"
                                        th:value="${type}"
                                        th:text="${type}">
                                </option>
                            </select>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="number" size="3" th:name="|lbList[${item.index}].shelfThick|"
                                   th:value="${lb.getShelfThick()}"
                            readonly="readonly"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="number" size="3" th:name="|lbList[${item.index}].countCells|"
                                   th:value="${lb.getCountCells()}"/>
                        </label>
                    </td>

                    <td>
                        <label>
                            <input type="number" size="4" th:name="|lbList[${item.index}].height|"
                                   th:value="${lb.getHeight()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="number" size="4" th:name="|lbList[${item.index}].width|"
                                   th:value="${lb.getWidth()}"
                            />
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="number" size="4" th:name="|lbList[${item.index}].depth|"
                                   th:value="${lb.getDepth()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td hidden="hidden">
                        <label>
                            <input type="number" size="3" th:name="|lbList[${item.index}].upperFrame|"
                                   th:value="${lb.getUpperFrame()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td hidden="hidden">
                        <label>
                            <input type="number" size="3" th:name="|lbList[${item.index}].bottomFrame|"
                                   th:value="${lb.getBottomFrame()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="number" size="4" th:name="|lbList[${item.index}].heightCell|"
                                   th:value="${lb.getHeightCell()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td hidden="hidden">
                        <label>
                            <input type="number" size="4" th:name="|lbList[${item.index}].widthCell|"
                                   th:value="${lb.getWidthCell()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td hidden="hidden">
                        <label>
                            <input type="number" size="4" th:name="|lbList[${item.index}].depthCell|"
                                   th:value="${lb.getDepthCell()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input size="5" th:name="|lbList[${item.index}].directionDoorOpening|"
                                   th:value="${lb.getDirectionDoorOpening()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input size="5" th:name="|lbList[${item.index}].colorBody|" th:value="${lb.getColorBody()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input size="5" th:name="|lbList[${item.index}].colorDoor|" th:value="${lb.getColorDoor()}"
                                   readonly="readonly"/>
                        </label>
                    </td>
                    <td th:text="1">Quantity</td>

                    <td>
                        <a th:href="@{/projects/{projectId}/alss/{alsId}/lbs/{lbId}
                    (projectId=${project.getId()},alsId=${als.getId()},lbId=${lb.getId()})}"
                           class="btn btn-primary">Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <a th:href="@{/projects/{projectId}/alss/{alsId}/lbs/{lbId}/delete
                    (projectId=${project.getId()},alsId=${als.getId()},lbId=${lb.getId()}) }"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="container-fluid">
    <img class="img-thumbnail" th:src="'data:image/png;base64,'+${als.getStringALSImage()}" alt="ALS Image">
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>