<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>LB_Calc_WEB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container-fluid">
    <h1>Проекты</h1>
    <a href="/projects/create" class="btn btn-primary btn-sm mb-3">Создать проект </a>
    <a th:href="@{'/'}" class="btn btn-primary btn-sm mb-3">Back</a>
    <br/><br/>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Description</th>
            <th>CreatedBy</th>
            <th>CreatedAt</th>
            <th>UpdateBy</th>
            <th>UpdatedAt</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project: ${projects}">
            <td th:text="${project.getId()}">ID</td>
            <td th:text="${project.getCompany()}">Company</td>
            <td th:text="${project.getDescription()}">Description</td>
            <td th:text="${project.createdBy.getUsername()}">CreatedBy</td>
            <td th:text="${project.getCreatedAt()}">CreatedAt</td>
            <td th:text="*{project.updatedBy.getUsername()}">UpdateBy</td>
            <td th:text="${project.getUpdatedAt()}">UpdatedAt</td>
            <td>
                <a th:href="@{/projects/{id}(id=${project.getId()})}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>