<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LC проекта</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>

<div th:replace="~{header :: header}"></div>

<div class="container-fluid">

    <br>

    <form th:action="@{/projects/{projectId}/alss/{alsId}/lcs/{lcId}/save(
                projectId=${projectId},
                alsId=${alsId},
                lcId=${lcId})}"
          th:object="${lc}"
          method="post">

        <div class="mb-3">

            <button type="submit"
                    class="btn btn-primary btn-sm">
                Сохранить LC
            </button>

            <a th:href="@{/projects/{projectId}/alss/{alsId}(
                        projectId=${projectId},
                        alsId=${alsId})}"
               class="btn btn-secondary btn-sm">
                Назад к ALS
            </a>

            <a th:href="@{/projects/{projectId}(
                        projectId=${projectId})}"
               class="btn btn-secondary btn-sm">
                Назад к проекту
            </a>

        </div>

        <div th:if="${errors != null}"
             class="alert alert-danger">

            <div th:each="error : ${errors}"
                 th:text="${error}">
            </div>

        </div>

        <div class="card">

            <div class="card-header">

                <h3 th:text="${lc.description}">
                    Модуль управления
                </h3>

            </div>

            <div class="card-body">

                <div class="row">

                    <div class="col-md-2">
                        <label>ID</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{id}"
                               readonly aria-label="id">
                    </div>

                    <div class="col-md-5">
                        <label>Название</label>

                        <input type="text"
                               class="form-control"
                               th:field="*{name}"
                               readonly aria-label="name">
                    </div>

                    <div class="col-md-5">
                        <label>Цвет корпуса</label>

                        <select class="form-control"
                                th:field="*{colorBody}" aria-label="colorBody">

                            <option th:each="color : ${colorsList}"
                                    th:value="${color}"
                                    th:text="${color}">
                            </option>

                        </select>
                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col-md-3">
                        <label>Display</label>

                        <select class="form-control"
                                th:field="*{display}" aria-label="display">

                            <option th:each="display : ${displayList}"
                                    th:value="${display}"
                                    th:text="${display}">
                            </option>

                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Оплата</label>

                        <select class="form-control"
                                th:field="*{payment}" aria-label="payment">

                            <option th:each="payment : ${paymentList}"
                                    th:value="${payment}"
                                    th:text="${payment}">
                            </option>

                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Barcode Reader</label>

                        <select class="form-control"
                                th:field="*{barReader}" aria-label="barReader">

                            <option th:each="reader : ${barReaderList}"
                                    th:value="${reader}"
                                    th:text="${reader}">
                            </option>

                        </select>
                    </div>

                    <div class="col-md-3">

                        <label class="d-block">
                            Printer
                        </label>

                        <input type="checkbox"
                               th:field="*{printer}" aria-label="printer">

                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col-md-3">

                        <label>
                            RFID Reader
                        </label>

                        <input type="checkbox"
                               th:field="*{rfidReader}" aria-label="rfidReader">

                    </div>

                    <div class="col-md-3">
                        <label>Цвет дверей</label>

                        <select class="form-control"
                                th:field="*{colorDoor}" aria-label="colorDoor">

                            <option th:each="color : ${colorsList}"
                                    th:value="${color}"
                                    th:text="${color}">
                            </option>

                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Высота</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{height}"
                               readonly aria-label="height">
                    </div>

                    <div class="col-md-3">
                        <label>Ширина</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{width}"
                               readonly aria-label="width">
                    </div>

                </div>

                <input type="hidden"
                       th:field="*{description}">

                <input type="hidden"
                       th:field="*{depth}">

                <input type="hidden"
                       th:field="*{upperFrame}">

                <input type="hidden"
                       th:field="*{bottomFrame}">

                <div class="row mt-3">

                    <div class="col-md-6">

                        <label>
                            Способы доступа
                        </label>

                        <input type="text"
                               class="form-control"
                               th:value="${#strings.listJoin(lc.accessMethods, ', ')}"
                               readonly aria-label="Поле формы">

                    </div>

                    <div class="col-md-6">

                        <label>
                            Опции печати
                        </label>

                        <input type="text"
                               class="form-control"
                               th:value="${#strings.listJoin(lc.printOptions, ', ')}"
                               readonly aria-label="Поле формы">

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>
