<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LB проекта</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>

<div th:replace="~{header :: header}"></div>

<div class="container-fluid">

    <br>

    <form th:action="@{/projects/{projectId}/alss/{alsId}/lbs/{lbId}/save(
                projectId=${projectId},
                alsId=${alsId},
                lbId=${lbId})}"
          th:object="${lb}"
          method="post">

        <div class="mb-3">

            <button type="submit"
                    class="btn btn-primary btn-sm">
                Сохранить LB
            </button>

            <a th:href="@{/projects/{projectId}/alss/{alsId}(
                        projectId=${projectId},
                        alsId=${alsId})}"
               class="btn btn-secondary btn-sm">
                Назад к ALS
            </a>

            <a th:href="@{/projects/{projectId}(
                        projectId=${projectId})}"
               class="btn btn-secondary btn-sm">
                Назад к проекту
            </a>

        </div>

        <div th:if="${errors != null}"
             class="alert alert-danger">

            <div th:each="error : ${errors}"
                 th:text="${error}">
            </div>

        </div>

        <div class="card">

            <div class="card-header">

                <h3 th:text="${lb.description}">
                    Модуль хранения
                </h3>

            </div>

            <div class="card-body">

                <div class="row">

                    <div class="col-md-2">
                        <label>ID</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{id}"
                               readonly>
                    </div>

                    <div class="col-md-5">
                        <label>Название</label>

                        <input type="text"
                               class="form-control"
                               th:field="*{name}"
                               readonly>
                    </div>

                    <div class="col-md-5">
                        <label>Тип</label>

                        <select class="form-control"
                                th:field="*{type}">

                            <option th:each="type : ${typeLbList}"
                                    th:value="${type}"
                                    th:text="${type}">
                            </option>

                        </select>
                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col-md-3">
                        <label>Количество ячеек</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{countCells}">
                    </div>

                    <div class="col-md-3">
                        <label>Ширина</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{width}">
                    </div>

                    <div class="col-md-3">
                        <label>Высота</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{height}"
                               readonly>
                    </div>

                    <div class="col-md-3">
                        <label>Глубина</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{depth}"
                               readonly>
                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col-md-3">
                        <label>Высота ячейки</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{heightCell}"
                               readonly>
                    </div>

                    <div class="col-md-3">
                        <label>Ширина ячейки</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{widthCell}"
                               readonly>
                    </div>

                    <div class="col-md-3">
                        <label>Глубина ячейки</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{depthCell}"
                               readonly>
                    </div>

                    <div class="col-md-3">
                        <label>Полка</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{shelfThick}"
                               readonly>
                    </div>

                </div>

                <div class="row mt-3">

                    <div class="col-md-3">
                        <label>Направление двери</label>

                        <input type="text"
                               class="form-control"
                               th:field="*{directionDoorOpening}"
                               readonly>
                    </div>

                    <div class="col-md-3">
                        <label>Цвет корпуса</label>

                        <input type="text"
                               class="form-control"
                               th:field="*{colorBody}"
                               readonly>
                    </div>

                    <div class="col-md-3">
                        <label>Цвет дверей</label>

                        <input type="text"
                               class="form-control"
                               th:field="*{colorDoor}"
                               readonly>
                    </div>

                    <div class="col-md-3">
                        <label>Толщина двери</label>

                        <input type="number"
                               class="form-control"
                               th:field="*{doorThickness}"
                               readonly>
                    </div>

                </div>

                <input type="hidden"
                       th:field="*{description}">

                <input type="hidden"
                       th:field="*{upperFrame}">

                <input type="hidden"
                       th:field="*{bottomFrame}">

                <input type="hidden"
                       th:field="*{deltaWidth}">

                <input type="hidden"
                       th:field="*{serviceZoneWidth}">

            </div>

        </div>

    </form>

</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>